body {
	padding: 80px;
	margin: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.GL-logo h1 {
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.GL-logo {
	display: inline-block;
	font-size: 18px;
}

.bar-nav {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 10px;
}

.nav-button-a {
	font-size: 18px;
	margin-right: 6px;
	margin-left: 6px;
	/* display: inline-block; */
}

.search-bar-section {
	margin-bottom: 30px;
}

label {
	display: block;
	margin-bottom: 10px;
}

#search {
	height: 30px;
	width: 400px;
	border: 1px solid #DDDDDD;
}

.mag-search-img {
	height: 30px;
	border: 1px solid #DDDDDD;
}

.pages-nav {
	display: inline-block;
	margin-bottom: 30px;
	border: 1px solid #DDDDDD;
}

.pages-arrow-a {
	font-size: 16px;
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 15px;
	padding-left: 15px;
}

.pages-number-a {
	font-size: 16px;
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 15px;
	padding-left: 15px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	text-decoration: none;
}

.pages-number-a:hover {
	text-decoration: none;
}

.search-results-ul {
	padding: 0;
}

.search-result-li {
	list-style: none;
	margin-bottom: 15px;
	color: #999;
}

.search-link-a {
	margin-left: 8px;
	margin-right: 8px;
	font-weight: bold;
}

