* {
	box-sizing: border-box;
}

body {
	padding: 80px;
	margin: 0 auto;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header h1 {
	font-size: 18px;
	margin: 0;
	padding: 0;
}

header {
	/*display: inline-block;*/
	font-size: 18px;
	height: 50px;
}

.bar-nav {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 10px;
}

header h1,
.bar-nav ul,
.bar-nav li {
	display: inline-block;
}

 .bar-nav li {
	font-size: 18px;
	margin-right: 6px;
	margin-left: 6px;
}

.search-bar-section {
	margin-bottom: 30px;
	margin-top: 20px;
}

label {
	display: block;
}

#search {
	height: 35px;
	width: 400px;
	border: 1px solid #DDDDDD;
}

input[type="text"],
input[type="image"] {
	display: inline-block;
	margin-top: 8px;
}

input[type="text"] {
	padding: 5px;
}

input[type="image"] {
	height: 35px;
	border: 1px solid #DDDDDD;
	margin-bottom: -13px;
}

.pages-nav {
	margin-top: 20px;
	margin-bottom: 50px;
}

.pages-nav ul {
	border: 1px solid #DDDDDD;
	margin: 0px;
	padding: 0px;
}

.pages-nav ul,
.pages-nav li {
	display: inline-block;
}

.pages-nav li {
	font-size: 16px;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-left: -1px;
	margin-right: -2px;
}

.pages-number-a {
	font-size: 16px;
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 15px;
	padding-left: 15px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	text-decoration: none;
}

.pages-number-a:hover {
	text-decoration: none;
}

.search-results-ul {
	padding: 0;
}

.search-result-li {
	list-style: none;
	margin-bottom: 15px;
	color: #999;
}

.search-link-a {
	margin-left: 8px;
	margin-right: 8px;
	font-weight: bold;
}
